doctype html
html(lang='en')
  head
    title NFLTipApp: Passwort zurücksetzen
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript').
          var userId = #{userId}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/passwordClient.js')
    link(rel='stylesheet', href='stylesheets/password.css')
  body
    .login-page
       .form
          form.login-form
            input#password(type='password', placeholder='Passwort')
            button#submit(type='button' onClick="submitPassword()") Passwort zurücksetzen
            p#error-text
