doctype html
html(lang='en')
  head
    title NFLTipApp: Passwort zurücksetzen
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/password.css')
  body
    .login-page
       .form
          form.login-form
            p#error-text-fail Zeit ist abgelaufen. Bitte versuchen Sie, dass Passwort erneut zurückzusetzen